$X_LARGE_SIZE: 20px;
$LARGE_SIZE: 16px;
$NORMAL_SIZE: 14PX;
$SMALL_SIZE:12PX;

$TEXT_GRAY_COLOR:#939393;
$TEXT_BLACK_COLOR:#2F2F2F;

$BACKGROUND_GRAY_COLOR:#ececec;
$BORDER_GRAY_COLOR:#e6e6e6;

$THEME_COLOR: #1890ff;